@import "w3";
@import "event";

.UI-container {
    @extend .w3-container;
    @extend .w3-responsive;
}

.UI-content {
    @extend .w3-content;
}

.UI-rest {
    @extend .w3-rest;
}

.UI-maincontent {
    @extend .UI-container;
    @extend .w3-mobile;
}

.UI-center {
    @extend .w3-center;
}

.UI-black {
    @extend .w3-black;
}

.UI-blue {
    @extend .w3-blue;
}

.UI-red {
    @extend .w3-red;
}

.UI-green {
    @extend .w3-green;
}

.UI-yellow {
    @extend .w3-yellow;
}

.UI-lime {
    @extend .w3-lime;
}

.UI-khaki {
    @extend .w3-khaki;
}

.UI-orange {
    @extend .w3-orange;
}

.UI-gray {
    @extend .w3-gray;
}

.UI-dark-gray {
    @extend .w3-dark-gray;
}

.UI-light-gray {
    @extend .w3-light-gray;
}

.UI-sectionbar {
    @extend .w3-xlarge;
    @extend .UI-center;
    @extend .UI-rest;
    @extend .UI-container;
}

.UI-event-sectionbar {
    @extend .event-color-primary;
    @extend .UI-sectionbar;
}

.UI-secondary-sectionbar {
    @extend .event-color-secondary;
    @extend .UI-sectionbar;
}

.UI-admin-sectionbar {
    @extend .UI-red;
    @extend .UI-sectionbar;
}

.UI-margin{
    @extend .w3-margin;
}

.UI-button {
    @extend .w3-button;
}

.UI-roundbutton {
    @extend .UI-button;
    @extend .w3-round-xxlarge;
}

.UI-graybutton {
    @extend .UI-roundbutton;
    @extend .w3-gray;
}

.UI-redbutton {
    @extend .UI-roundbutton;
    @extend .UI-red;
}

.UI-yellowbutton {
    @extend .UI-roundbutton;
    @extend .UI-yellow;
}

.UI-orangebutton {
    @extend .UI-roundbutton;
    @extend .w3-orange;
}

.UI-eventbutton {
    @extend .UI-roundbutton;
    @extend .event-color-primary;
}

.UI-secondarybutton {
    @extend .UI-roundbutton;
    @extend .event-color-secondary;
}

.UI-right {
    @extend .w3-right;
}

.UI-border {
    @extend .w3-border;
}

.UI-adminborder {
    @extend .w3-topbar;
    @extend .w3-bottombar;
    @extend .w3-leftbar;
    @extend .w3-rightbar;
    @extend .w3-border-red;
}

.UI-stripedtable {
    @extend .w3-table;
    @extend .w3-striped;
    @extend .UI-border;
    @extend .w3-white;
}

.UI-tabletitle {
    @extend .UI-center;
    @extend .event-color-primary;
    font-size:200%;
}

.UI-tablefooter {
    @extend .UI-center;
    @extend .event-color-primary;
}

.UI-disabled {
    @extend .w3-disabled;
}

.UI-input {
    @extend .w3-input;
    @extend .UI-border;
}

.UI-hiddeninput {
    @extend .w3-input;
    @extend .w3-hide;
    @extend .w3-disabled;
}

.UI-select {
    @extend .w3-select;
    @extend .UI-border;
}

.UI-hide {
    @extend .w3-hide;
}

.UI-show {
    @extend .w3-show;
}

.UI-padding {
    @extend .w3-padding;
}

.UI-mainsection-sidebar-shown {
    @extend .w3-threequarter;
}

.UI-sidebar-hidden {
    @extend .UI-hide;
    @extend .UI-padding;
}

.UI-sidebar-shown {
    @extend .UI-padding;
    @extend .w3-quarter;
}

.UI-fixed {
    display: inline-block;
    position: fixed !important;
}

.UI-table { display: table; width: 100%; }
.UI-table-row { display: table-row; }
.UI-table-header { display: table-header-group;  }
.UI-table-body { display: table-row-group; }
.UI-table-cell { display: table-cell; border: 1px solid #999999;}
.UI-table-hidden { display: none;}
.UI-table-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px
}

.UI-table-cell-no-border {
    display: table-cell;
    padding: 5px 15px;
}

.UI-table-hover .UI-table-row:not(:first-of-type):hover {
    background-color:#bbb !important;
}

.UI-table-stripped .UI-table-row:nth-of-type(even):not(:first-of-type) {
  background-color:#e1e1e1;
}

.UI-table-padded .UI-table-cell {
    padding:8px 8px
}

.UI-bold {
    font-weight: bold;
}

.UI-table-heading .UI-table-row:first-of-type {
    @extend .UI-bold !important;
    font-size:125% !important;
}

.UI-table-all {
    @extend .UI-table;
    @extend .UI-table-hover;
    @extend .UI-table-padded;
    @extend .UI-table-stripped;
    @extend .UI-table-heading;
}

.UI-error-header {
    @extend .UI-red;
    @extend .UI-bold;
}

.UI-warning-header{
    @extend .UI-yellow;
    @extend .UI-bold;
}

.UI-label {
}

.UI-cell-row {
    @extend .w3-cell-row;
}

.UI-cell {
    @extend .w3-cell;
}

.UI-cell-middle {
    @extend .UI-cell;
    @extend .w3-cell-middle;
}

.UI-cell-top {
    @extend .UI-cell;
    @extend .w3-cell-top;
}

.UI-dropdown-content {
    @extend .w3-dropdown-content;
}

.UI-dropdown-hover {
    @extend .w3-dropdown-hover;
}

.UI-menu-div {
    @extend .UI-dropdown-hover;
}

.UI-menu-end {
    @extend .UI-dropdown-content;
    @extend .w3-bar-block;
    @extend .w3-card-4;
}

.UI-admin-menu {
    @extend .UI-button;
    @extend .UI-yellow;
}

.UI-bar {
    @extend .w3-bar;
}

.UI-bar-item {
    @extend .w3-bar-item;
}

.UI-main-bar-div {
    @extend .w3-top;
}

.UI-main-bar {
    @extend .UI-bar;
    @extend .w3-dark-grey;
}

.UI-main-bar-item {
    @extend .w3-bar-item;
    @extend .UI-button;
}

.UI-main-responsive-bar-item {
    @extend .w3-hide-small;
    @extend .w3-hide-medium;
}

.UI-main-logout-bar-item {
    @extend .UI-main-bar-item;
    @extend .UI-red;
    @extend .UI-right;
}

.UI-main-bar-icon {
    @extend .w3-left;
    @extend .event-bar-icon;
}

.UI-main-bar-pancake {
    @extend .UI-main-bar-item;
    @extend .w3-block;
    @extend .UI-center;
    @extend .w3-hide-large;
}

.UI-main-bar-pancake-div {
    @extend .w3-bar-block;
    @extend .UI-hide;
    @extend .w3-hide-large;
}

.UI-icon-div {
    @extend .UI-container;
    @extend .UI-cell;
    padding: 0px 0px !important;
}

.UI-tiny {
    @extend .w3-tiny;
}

.UI-small {
    @extend .w3-small;
}

.UI-large-center-container {
    @extend .UI-container;
    @extend .UI-center;
    @extend .w3-large;
}

.UI-disclaimer-info-button {
    @extend .w3-bar-item;
    @extend .UI-button;
    @extend .UI-tiny;
}

.UI-disclaimer-panel {
    @extend .w3-panel;
    @extend .w3-leftbar;
}

.UI-modules-panel {
    @extend .UI-small;
}

.UI-small-disclaimer-panel {
    @extend .UI-disclaimer-panel;
    @extend .w3-small;
}

.UI-disclaimer-info-panel {
    @extend .w3-panel;
    @extend .w3-leftbar;
    @extend .w3-sand
}

.UI-disclaimer-copyright-div {
    @extend .w3-large;
    @extend .UI-center;
}

.UI-profile-update-button {
    @extend .UI-button;
    @extend .w3-brown;
    @extend .UI-right;
    padding: 0px 16px;
}

.UI-profile-update-button-end {
    @extend .UI-button;
    @extend .w3-block;
    @extend .w3-brown;
}

.UI-half {
    @extend .w3-half;
}

.UI-twothird {
    @extend .w3-twothird;
}

.UI-third {
    @extend .w3-third;
}

.UI-threequarter {
    @extend .w3-threequarter;
}

.UI-quarter {
    @extend .w3-quarter;
}

.UI-profile-name-div {
    @extend .w3-lime;
    @extend .w3-row;
}

.UI-profile-pref-name-div {
    @extend .w3-teal;
    @extend .w3-row;
}

.UI-profile-badge-number-div {
    @extend .w3-orange;
    @extend .w3-row;
}

.UI-profile-email-div {
    @extend .w3-indigo;
    @extend .w3-row;
}

.UI-profile-phone-div {
    @extend .w3-blue;
    @extend .w3-row;
}

.UI-profile-concom-div {
    @extend .w3-row;
}

.UI-profile-concom-label {
    text-align: right !important;
    @extend .w3-col;
    @extend .m7;
    @extend .l6;
}

.UI-profile-concom-select {
    @extend .w3-col;
    @extend .m5;
    @extend .l6;
}

.UI-profile-address-div {
    @extend .w3-purple;
    @extend .w3-row;
}

.UI-profile-province-field {
    @extend .UI-input;
    @extend .w3-gray;
}

.UI-profile-zip-div {
    @extend .w3-quarter;
    @extend .w3-row;
}

.UI-profile-zip-field {
    text-align: right !important;
    @extend .UI-input;
    @extend .w3-col;
    @extend .l8;
    @extend .m7;
    @extend .s7;
}

.UI-profile-zip-4-field {
    @extend .UI-input;
    @extend .w3-col;
    @extend .l4;
    @extend .m5;
    @extend .s5;
}

.UI-profile-password-div {
    @extend .w3-red;
    @extend .w3-row;
}

.UI-profile-update-password-button {
    @extend .w3-red;
    @extend .w3-block;
    @extend .UI-button;
}

.UI-update-proceed-button {
    @extend .UI-eventbutton;
    @extend .w3-left;
}

.UI-page-title-bar {
    @extend .UI-cell-row;
    @extend .event-color-primary;
    @extend .w3-mobile;
}

.UI-page-title {
    @extend .UI-container;
    @extend .UI-cell;
    @extend .w3-mobile;
}

.UI-recovery-text-block {
    @extend .UI-center;
    @extend .UI-bold;
}

.UI-main-content-div {
    @extend .UI-padding;
    @extend .UI-cell-top;
    @extend .w3-mobile;
}

.UI-main-email-warning {
    @extend .UI-container;
    @extend .UI-center;
    @extend .UI-border;
    @extend .UI-red;
    @extend .w3-large;
}

.UI-register-start-button {
    @extend .w3-btn;
    @extend .event-color-primary;
    @extend .w3-round-xlarge;
}

.UI-login-main-div {
    @extend .UI-container;
    @extend .UI-cell;
    @extend .w3-third;
    @extend .UI-border;
}

.UI-modal {
    @extend .w3-modal;
}

.UI-modal-content {
    @extend .w3-modal-content;
}

.UI-close-button {
    @extend .w3-display-topright;
    @extend .UI-button;
}

.UI-spinner-div {
    @extend .w3-modal-content;
    @extend .w3-jumbo;
    @extend .UI-center;
    @extend .w3-round-xxlarge;
}

.UI-spin {
    @extend .w3-spin;
}

.UI-lookup-user-button {
    @extend .UI-button;
    @extend .w3-bar-item;
    @extend .UI-border;
}

.UI-lookup-user-dropdown {
    @extend .UI-black;
    @extend .w3-bar-block;
}

.UI-tooltip {
    @extend .w3-tooltip;
}

.UI-tooltip-text {
    @extend .w3-text;
    @extend .w3-tag;
}

.UI-console-slider {
    @extend .w3-show-inline-block;
    @extend .w3-left;
    @extend .event-color-secondary;
    @extend .UI-margin;
}

.UI-configure-panel {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    @extend .w3-panel;
}

.UI-checkbox {
    @extend .w3-check;
}

.UI-configure-info-panel {
    @extend .w3-panel;
    @extend .UI-blue;
    @extend .UI-center;
}

.UI-configure-note {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    @extend .UI-blue;
    @extend .UI-margin;
    @extend .UI-border;
}

.UI-footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.UI-footer {
    @extend .UI-main-bar;
}

.UI-footer-icon {
    @extend .w3-left;
    @extend .event-bar-icon;
}

.UI-footer-issues-bar-item {
    @extend .UI-main-bar-item;
    @extend .UI-red;
    @extend .UI-right;
}

.UI-footer-event {
    @extend .UI-bar-item;
    @extend .event-color-primary;
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.UI-white {
    @extend .w3-white;
}

.UI-announcement{
    @extend .w3-large;
    @extend .UI-bold;
}

.UI-announcement-source{
    @extend .w3-opacity;
    @extend .UI-small;
}

.UI-event-dropdown-bar {
    @extend .UI-event-sectionbar;
    @extend .UI-button;
    @extend .w3-block;
}

.UI-pad-bottom {
    padding: 0px 0px 16px 0px;
}
