@import "w3";
@import "event";

.UI-container {
    @extend .w3-container;
    @extend .w3-responsive;
}

.UI-content {
    @extend .w3-content;
}

.UI-rest {
    @extend .w3-rest;
}

.UI-maincontent {
    @extend .UI-container;
    @extend .w3-mobile;
}

.UI-center {
    @extend .w3-center;
}

.UI-red {
    @extend .w3-red;
}

.UI-yellow {
    @extend .w3-yellow;
}

.UI-sectionbar {
    @extend .w3-xlarge;
    @extend .UI-center;
    @extend .UI-rest;
    @extend .UI-container;
}

.UI-event-sectionbar {
    @extend .event-color-primary;
    @extend .UI-sectionbar;
}

.UI-secondary-sectionbar {
    @extend .event-color-secondary;
    @extend .UI-sectionbar;
}

.UI-admin-sectionbar {
    @extend .UI-red;
    @extend .UI-sectionbar;
}

.UI-margin{
    @extend .w3-margin;
}

.UI-button {
    @extend .w3-button;
}

.UI-roundbutton {
    @extend .UI-button;
    @extend .w3-round-xxlarge;
}

.UI-graybutton {
    @extend .UI-roundbutton;
    @extend .w3-gray;
}

.UI-redbutton {
    @extend .UI-roundbutton;
    @extend .UI-red;
}

.UI-yellowbutton {
    @extend .UI-roundbutton;
    @extend .UI-yellow;
}

.UI-orangebutton {
    @extend .UI-roundbutton;
    @extend .w3-orange;
}

.UI-eventbutton {
    @extend .UI-roundbutton;
    @extend .event-color-primary;
}

.UI-secondarybutton {
    @extend .UI-roundbutton;
    @extend .event-color-secondary;
}

.UI-right {
    @extend .w3-right;
}

.UI-border {
    @extend .w3-border;
}

.UI-adminborder {
    @extend .w3-topbar;
    @extend .w3-bottombar;
    @extend .w3-leftbar;
    @extend .w3-rightbar;
    @extend .w3-border-red;
}

.UI-stripedtable {
    @extend .w3-table;
    @extend .w3-striped;
    @extend .UI-border;
    @extend .w3-white;
}

.UI-input {
    @extend .w3-input;
    @extend .UI-border;
}

.UI-hiddeninput {
    @extend .w3-input;
    @extend .w3-hide;
    @extend .w3-disabled;
}

.UI-select {
    @extend .w3-select;
    @extend .UI-border;
}

.UI-hide {
    @extend .w3-hide;
}

.UI-padding {
    @extend .w3-padding;
}

.UI-mainsection-sidebar-shown {
    @extend .w3-threequarter;
}

.UI-sidebar-hidden {
    @extend .UI-hide;
    @extend .UI-padding;
}

.UI-sidebar-shown {
    @extend .UI-padding;
    @extend .w3-quarter;
}

.UI-fixed {
    display: inline-block;
    position: fixed !important;
}

.UI-table { display: table; width: 100%; }
.UI-table-row { display: table-row; }
.UI-table-header { display: table-header-group;  }
.UI-table-body { display: table-row-group; }
.UI-table-cell { display: table-cell; border: 1px solid #999999;}
.UI-table-hidden { display: none;}
.UI-table-vertical {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px
}

.UI-error-header {
    @extend .UI-red;
    @extend .w3-bold;
    @extend .w3-header;
}

.UI-warning-header{
    @extend .UI-yellow;
    @extend .w3-bold;
    @extend .w3-header;
}
