ErrorDocument 403 /sitesupport/index.php

<IfModule mod_ssl.c>
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  </IfModule>
</IfModule>

# Block 'hidden' files
<FilesMatch "^\.(ht|svn|git)">
  <IfModule !mod_access_compat.c>
    Require all denied
  </IfModule>
  <IfModule mod_access_compat.c>
    Order deny,allow
    Deny from all
  </IfModule>
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Session Timeout - 1 hour
<IfModule mod_php5.c>
    #Session timeout
    php_value session.cookie_lifetime 3600
    php_value session.gc_maxlifetime 3600
</IfModule>

# Cache Control - From www.askapache.com
# 3 Month
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
  Header set Cache-Control "max-age=7257600"
</FilesMatch>
 
# 1 Week
<FilesMatch ".(js|css|pdf|txt)$">
  Header set Cache-Control "max-age=604800"
</FilesMatch>
 
# 2 Hours
<FilesMatch ".(html|htm|xml)$">
  Header set Cache-Control "max-age=7200, must-revalidate"
</FilesMatch>
 
# NONE
<FilesMatch ".(pl|php|cgi|spl)$">
  Header unset Cache-Control
  Header unset Expires
  Header unset Last-Modified
  FileETag None
  Header unset Pragma
</FilesMatch>
