version: "3.2"
services:
  php:
    build: './docker/php/'
    networks:
      - backend
    volumes:
      - .:/var/www/html/
    environment:
        DBHOST: 'mysql'
        DBNAME: ${DBNAME}
        DBPASS: ${DBPASS}
        DBUSER: ${DBUSER}
        DOCKER: 1
  apache:
    build: './docker/apache/'
    depends_on:
      - php
      - mysql
    networks:
      - frontend
      - backend
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html/
  mysql:
    image: mysql:5.6.40
    networks:
      - backend
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_DATABASE: ${DBNAME}
      MYSQL_PASSWORD: ${DBPASS}
      MYSQL_USER: ${DBUSER}
networks:
  frontend:
  backend:
