.event-color-primary, .event-hover-primary:hover {
  color: #fff !important;
  background-color: #4CAF50 !important;
}

.event-color-secondary, .event-hover-secondary:hover {
  color: #fff !important;
  background-color: #2196F3 !important;
}

.event-icon {
  background-image: url("/images/Connie-small.png");
  background-size: cover;
  width: 91px;
  height: 72px;
  overflow: auto;
}

.event-default-user-icon {
    content: url("/images/tinyblack.gif");
}
