@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size: .9em;
	width: 100%;
	margin: 0;
	padding: 0;
	color:#000;
}
table {
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
th {
  background-color: white;
  text-align: left;
}
td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}
#container {
	position:relative;
	margin: 0;
	padding: 0;
	height:100%;
}
.found_bkgd#container {
	background-image:url(../images/found_bkgd.png);
	background-repeat:repeat;
}
#header {
	background-color: #030;
	position: relative;
	height: 100px;
	width: 100%;
	padding-top: 1px;
}
.public#header {
	background-color:#030;
}
#logo {
	background-color: #000;
	padding: 10px 10px 10px 20px;
	float: left;
	width: 100px;
}
#header #header_text {
	margin-left: 160px;
}
.active_issues#header #header_text .header_p {
	font-size: 1em;
	font-weight: bold;
	color: #FFF;
}
.open_messages#header #header_text .header_p {
	font-size: 1em;
	font-weight: bold;
	color: #000;
}
.public#header #header_text p {
	font-size:1.8em;
	font-weight:bold;
	color:#FFF;
}
#main_nav {
	margin: 0;
	padding: 0;
	background-color:#999;
}
#main_nav ul {
    width: 100%;
    float: left;
 padding: 0;
 margin-left: 0;
 border-bottom: 1px solid #778;
 font: bold .9em Verdana, sans-serif;
}
#main_nav ul li {
	list-style: none;
	margin: 0;
	float: left;
	}
#main_nav ul li a {
 padding: 12px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 color: white;
 border-bottom: none;
 background-color: #333;
 text-decoration: none;
 display: block;
 width: 11em;
}
#main_nav ul li a:link {
 color: white;
}
#main_nav ul li a:link:hover, #main_nav ul li a:visited:hover {
 background-image:url(../images/hover_tab.png);
	background-position:center;
 border-bottom: 1px solid white;
color: #fff;
}
#main_nav ul li a#current {
	background-image:url(../images/hover_tab.png);
	background-position:center;
 border-bottom: 1px solid white;
color: #fff;
margin-bottom: −1px;
}
#main_nav ul li a#logout {
	background-image:url(../images/emergency_button.png);
	background-position:center;
 border-bottom: 1px solid white;
color: #fff;
margin-bottom: −1px;
}
#left_nav {
	margin: 0;
	padding: 0 .5em 0 0;
	float:left;
	border-right: medium solid gray;
}
#left_nav ul {
    width: 100%;
    float: left;
 padding: 0;
 margin-left: 0;
 font: bold .8em Verdana, sans-serif;
}
#left_nav ul li {
	list-style: none;
	margin: 0;
	}
#left_nav ul li a {
 padding: 12px 0.5em;
 margin-left: .5em;
 border: 1px solid #030;
 background-color: #060;
 text-decoration: none;
 background-image:url(../images/green_tab.png);
 display: block;
 width: 9em;
}
#left_nav ul li a:link {
 color: white;
}
#left_nav ul li a:link:hover, #left_nav ul li a:visited:hover {
	background-image:url(../images/green_tab_hover.png);
	background-position:center;
 border-bottom: 1px solid white;
color: #000;
}
#left_nav ul li a#current {
	background-image:url(../images/green_tab_hover.png);
 border: 1px solid white;
color: #000;
}
#main_content {
	margin-left: 12em;
	margin-right: 5em;
}
.public#main_content {
	margin-left: 7em;
}
.entry_chunk {
	position:relative;
}
h1.log_entry_content {
	font-size: 1.5em;
}
h2.log_entry_content {
	font-size:1em;
	margin-top:.1em;
	margin-bottom:.1em;
}
p.entry_chunk {
	margin-top:.1em;
	margin-bottom:.1em;
}
#container #dynamic_content #main_content .entry_chunk .update_button {
	float: right;
	width:8em;
	text-align:center;
	margin-right:20em;
}
#container #dynamic_content #main_content .yellow_button {
	float: right;
	width:190px;
	text-align:left;
	margin-right:20em;
}
#container #dynamic_content #main_content .green_button {
	float: right;
	width:190px;
	text-align:left;
	margin-right:20em;
}
.update_button a {
 text-decoration: none;
 background-image: url(../images/green_button_sm.png);
 display: block;
 width: 6em;
 padding: 12px 0.5em;
 color:#FFF;
 font-weight:bold;
}
.yellow_button a {
 text-decoration: none;
 background-image: url(../images/yellow_button_sm.png);
 background-repeat:no-repeat;
 display: block;
 padding: 12px 2em;
 color:#000;
 font-weight:bold;
}
.green_button a {
 text-decoration: none;
 background-image: url(../images/green_button_sm.png);
 background-repeat:no-repeat;
 display: block;
 padding: 10px 2em;
 color:#fff;
 font-weight:bold;
}
#container #dynamic_content #main_content #login_area {
	background-image: url(../images/login_bkgd.png);
	background-repeat: no-repeat;
	float: right;
	padding-left:25px;
	width: 50%;
	height: 50%;
}
#login_area h1{
	font-size:1.4em;
}
#container #dynamic_content #main_content #login_area #login_form p .login_label {
	font-weight: bold;
}
#container #dynamic_content #main_content .public li a {
	font-size: 1.4em;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/public_button.png);
	background-repeat: no-repeat;
	display:block;
	padding-left:15px;
	padding-top:6px;
	padding-bottom:20px;
}
#container #dynamic_content #main_content .public {
	list-style-type: none;
}
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
/* for IE6 */
* html .clearfix {
 height: 1%;
}
/* for IE7 */
*:first-child+html .clearfix {
 min-height: 1px;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
textarea, text{
	border-color:#999;
}
textarea:focus, text:focus {
	background-color:#CCC;
}
#disclaimer {
  width: 100%;
}
